<div class="footer">
    <div class="footer-left">
        <span>© 2016 Fırat-Erdi. All Rights Reserved.</span>
    </div>
    <div class="footer-right">
        <span>Designed by: <a href="">Erdi-Fırat</a></span>
    </div>
</div><!--footer-->
