<ion-view>
  <ion-header-bar>
    <h2 class="title">Talep Bildir</h2>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="row row-center">
        <div class="col col-center">
          <label class="item" style="border-bottom:white">
            <button class="button icon-left ion-image button-royal  button-block" ng-click="getResource(0,0)" >Fotoğraf Yükle&nbsp&nbsp     </button>
          </label>
        </div>
      </div>
      <div class="row row-center">
        <div class="col col-center">
          <label class="item" style="border-bottom:white">
            <button class="button icon-left ion-ios-camera-outline button-balanced  button-block" ng-click="getResource(0,1)" >Fotoğraf Çek&nbsp&nbsp     </button>
          </label>
        </div>
      </div>

      <div class="row row-center">
        <div class="col col-center">
          <label class="item" style="border-bottom:white">
            <button class="button icon-left ion-videocamera  button-energized button-block" ng-click="getResource(1,1)" >Video Çek&nbsp&nbsp     </button>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
